@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-teal: #00deb3;
  --color-orange: #F2780C;
  --color-red: #F21313;
  --color-black: #2F1E0E;
  --color-white: #fafae8;
  --background: var(--color-black);
  --foreground: var(--color-white);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
